.perspective__title{
    font-size: 25px;
    color: white;
    margin-block-end: 20px;
}

.perspective{
    border-top: 1px solid white;
    padding-block: 100px;
}

.perent{
    width: 500px;
    height: 500px;
    border: 1px solid white;
    padding: 20px;
    transform-style: preserve-3d;
    perspective: 10px;
    perspective-origin: 50% 50%;
}

.one{
    width: 100%;
    height: 100%;
    border: 1px solid white;
    padding: 20px;
    transform: translate3d(0, 0, -100px);
}

.two{
    width: 100%;
    height: 100%;
    border: 1px solid white;
    padding: 20px;
    transform: translate3d(0, 0, -200px);
}

.three{
    width: 100%;
    height: 100%;
    border: 1px solid white;
    padding: 20px;
    transform: translate3d(0, 0, -300px);
}

.four{
    width: 100%;
    height: 100%;
    border: 1px solid white;
    padding: 20px;
    transform: translate3d(0, 0, -400px);
}
.five{
    width: 100%;
    height: 100%;
    border: 1px solid white;
    padding: 20px;
    transform: translate3d(0, 0, -500px);
}

.six{
    width: 100%;
    height: 100%;
    border: 1px solid white;
    padding: 20px;
    transform: translate3d(0, 0, -600px);
}

.seven{
    width: 100%;
    height: 100%;
    border: 1px solid white;
    padding: 20px;
    transform: translate3d(0, 0, -700px);
}

.flex__group{
    display: flex;
    gap: 50px;
}

.form{
    display: flex;
    max-width: 400px;
    flex-direction: column;
    border: 1px solid white;
    height: max-content;
    padding: 40px;
}

.label{
    color: white;
    font-size: 20px;
    margin-block-end: 10px;
    border-bottom: 1px solid #ffc300;;
}

.input{
    padding: 10xp;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid white;
    margin-block-end: 10px;
    color: white;
}

.code__box{
    border: 1px solid white;
    height: max-content;
    padding: 40px;
    position: relative;
  }
  
  .code__box::after{
    content: "";
    display: block;
    background-image: url("/arrows/arrow.svg");
    width: 77px;
    height: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform:  rotate(90deg) matrix(0, 1, 1, 0, 0, 0);
    position: absolute;
    bottom: 70px;
    left: -87px;
  }
  
  .part__code{
    display: block;
    color: white;
  }
  
  
  .part__code:nth-child(2),
  .part__code:nth-child(3),
  .part__code:nth-child(4),
  .part__code:nth-child(5){
    margin-inline-start: 25px;
  }
  
  
  .part__code:nth-child(1){
    color: #bbd0ff; 
  }
  
  .parenthesis{
    color: #ef233c;
  }
  
  .center__code{
    color: #80ed99;
  }
  
  @media (max-width:740px) {
    .form::after{
      transform: rotate(-100deg);
      bottom: 169px;
      left: 204px;
    }
    .code__box::after{
      transform: rotate(184deg) matrix(0, 1, 1, 0, 0, 0);
      bottom: 279px;
      left: 96px;
    }
  }

  .description{
    margin-block-start: 20px;
    max-width: 600px;
    color: white;
    font-size: 20px;
    display: block;
  }

  .description::first-letter{
    font-size: 25px;
  }

  .description::first-line{
    color:  #ef233c;
  }