.main__box{
    margin-block-end: 50px;
}
.text__Info{
    color: white;
    font-size: 20px;
    border-left: 3px solid #ffc300;
    padding-inline-start: 20px;
    margin-block-end: 20px;
}

.flex__size{
    align-items: center;
    gap: clamp(10px, 5vw, 200px);
    margin-block-end: 50px;
}



.animation__block{
    display: flex;
    flex-direction: column;
    gap: 70px;
}


.resolve{
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    border: 1px dashed #06d6a0;
    border-radius: 50%;
}

.resolve__description{
    color: #06d6a0;
    font-size: 20px;
    padding: 40px;
    background-color: hsl(0, 0%, 100%, 1);
    border: 4px solid #06d6a0;
}

.pending{
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    border: 1px solid #03045e;
    position: relative;
}

.pending__description{
    color: #03045e;
    font-size: 20px;
    padding: 40px;
    background-color: hsl(0, 0%, 100%, 1);
    border: 4px solid #03045e;
}


.motion__box{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #0077b6;
    top: 0;
    position: absolute;
}

.pending::after{
    content: "";
    display: block;
    background-image: url("/arrows/arrow.svg");
    width: 60px;
    height: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -41px;
    left: 23px;
    transform: rotate(-71deg);
}
.pending::before{
    content: "";
    display: block;
    background-image: url("/arrows/arrow.svg");
    width: 60px;
    height: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -41px;
    left: 3px;
    transform: rotate(71deg);
}

.regect{
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
    border: 1px dashed #d90429;
    border-radius: 50%;
}

.regect__description{
    color: #d90429;
    font-size: 20px;
    padding: 40px;
    background-color: hsl(0, 0%, 100%, 1);
    border: 4px solid #d90429;
}

.button__group{
    display: flex;
    gap: 20px;
}

@media (max-width: 700px) {
    .flex__size{
        flex-direction: row;
        gap: 10px;
    }
    .resolve__description{
        padding: 10px;
    }
    .regect__description{
        padding: 10px;
    }
    .pending__description{
        padding: 10px;
    }
}